body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/hippo-wf.png);

  /* Set a specific height */ 
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 20px 0px lightslategrey;
}

.btn-primary, .btn-primary:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e72510), color-stop(6%, #D9230F), to(#cb210e));
  background-image: linear-gradient(#e72510, #D9230F 6%, #cb210e);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 1px solid #ba1e0d;
  align-self: center;
  min-width: 180;
  margin-bottom: inherit;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mb-3 {
  margin-bottom: 1rem !important;
  max-width: 320;
  width: 33%;
  margin: auto;
}

.toy-info {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .mb-3 {
    width: 100%;
  }
}